.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-style {
    width: 80%;
    height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 1%;
  }
  
  
  .footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .half-width {
    width: 49.5%;
    margin-left: 0.25%;
  }
  
  .card-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0 !important;
  }
  
  .card-content {
    margin-top: 1%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

  .pagination li {
    margin: 0 5px;
    cursor: pointer;
  }

  .pagination li a {
    padding: 8px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
  }

  .pagination li.active a {
    background-color: #4CAF50;
    color: white;
  }